<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div id="app" style="display: none;" :style="{display: 'block'}">
    <div id="container">
        <h3>修改密码</h3>
        <el-form label-width="79px">
            <el-form-item label="原密码">
                <el-input type="password" v-model="oldPassword" maxlength="30" show-word-limit placeholder="OLDPASSWORD"></el-input>
            </el-form-item>
            <el-form-item label="新密码">
                <el-input type="password" v-model="newPassword" maxlength="30" show-word-limit placeholder="NEWPASSWORD"></el-input>
            </el-form-item>
            <el-button type="primary" @click="modify">修改</el-button>
            <el-button type="primary" @click="cancel">取消</el-button>
            <div>{{loginResult}}</div>
        </el-form>
    </div>

</div>

<style>
    #container {
        width: 30%;
        margin: 100px auto;
        border: 1px solid #3a8ee6;
        background-color: #f7f7f7;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
    }
</style>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/register.css">

<!--ATBWYFNKNMQAQWKN-->
<script>
    new Vue({
        el: "#app",

        data() {
            return {
                userInfo: {},
                oldPassword: '',
                newPassword: '',

            }
        },

        //Vue生命周期函数---页面加载完后执行
        mounted(){
            this.userInfo = JSON.parse(localStorage.getItem("isLogin"));
        },

        methods: {
            modify() {
                if(this.oldPassword === '' || this.newPassword === ''){
                    this.$message({
                        type: 'info',
                        message: '请填写完整!'
                    });
                    return;
                }
                // if(this.oldPassword !== this.userInfo.password ){
                //     this.$message({
                //         type: 'info',
                //         message: '原密码不正确'
                //     });
                //     return;
                // }
                axios({
                    method:"get",
                    url:"http://localhost:999/ShoppingSystem/user/updatePassword?id="+this.userInfo.id+"&password="+this.newPassword+"&oldPassword="+this.oldPassword+"&encryption="+this.userInfo.password,
                }).then(resp => {
                    if(resp.data === "success"){
                        this.$message({
                            type: 'success',
                            message: '修改密码成功!'
                        });
                        setTimeout(() => {
                            history.back();
                        },999);
                    }
                    else{
                        this.$message({
                            type: 'info',
                            message: resp.data
                        });
                    }
                })
            },
            cancel() {
                history.back();
            }
        }
    })
</script>

</body>
</html>