<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
</head>
<body>
<div id="app" style="display: none;" :style="{display: 'block'}">
    <div class="container">
        <a id="tor" href="login.html">返回登录界面</a>
        <div id="label">重 置 密 码</div>
        <div>输入正确的邮箱和用户名后将会发送重置的密码到所填邮箱中</div>
        <el-form label-width="79px" style="margin-top: 9px">
            <el-form-item label="邮箱">
                <el-input v-model="email" maxlength="30" show-word-limit placeholder="EMAIL"></el-input>
            </el-form-item>
            <el-form-item label="用户名">
                <el-input v-model="username" maxlength="15" show-word-limit placeholder="USERNAME"></el-input>
            </el-form-item>
            <el-button type="primary" @click="resetPassword" :disabled="isDisabled">重置</el-button>
        </el-form>
    </div>

</div>

<style>
    .container {
        position: relative;
        width: 30%;
        margin: 100px auto;
        border: 1px solid #3a8ee6;
        background-color: #f7f7f7;
        padding: 21px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
    }

    #tor{
        position: absolute;
        top: 9px;
        left: 9px;
        margin-bottom: 10px;
        font-size: medium;
    }

    #label{
        font-size: xx-large;
        font-weight: bolder;
    }

</style>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="css/register.css">

<!--ATBWYFNKNMQAQWKN-->
<script>
    new Vue({
        el: "#app",

        data() {
            return {
                email: '',
                username: '',
                isDisabled: false,
            }
        },

        //Vue生命周期函数---页面加载完后执行
        mounted(){

        },

        methods: {
            //重置
            resetPassword(){
                const _this = this;
                if(this.email == '' || this.username == '') this.alertWarning("请填写完整!");
                else{
                    // alert("进入重置服务！");
                    axios({
                        method:"get",
                        url:"http://localhost:999/ShoppingSystem/user/resetPassword?email="+this.email+"&username="+this.username,
                    }).then(resp => {
                        if(resp.data == "密码重置成功,新密码已发送至邮箱!"){
                            _this.isDisabled = true;
                            _this.alertSuccess(resp.data+"正在返回登录界面");
                            // _this.alertSuccess("正在返回登录界面");
                            setTimeout(function(){
                                window.history.back();
                            },2999);
                        }
                        else{
                            _this.alertWarning(resp.data);
                        }
                    });
                }
            },

            alertSuccess(information){
                this.$notify({
                    title: '成功',
                    message: information,
                    type: 'success'
                });
            },

            alertWarning(information){
                this.$notify({
                    title: '警告',
                    message: information,
                    type: 'warning'
                });
            }

        },
    })
</script>

</body>
</html>